{#
/**
 * @file local_customisation.html.twig
 * Default theme implementation to present Local customisation data.
 *
 * This template is used when viewing Local customisation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_local_customisation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('local_customisation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
