.paragraph--type--headline-hero {
  @extend %breakout;
  position: relative;
  text-align: center;
  padding: 2em 0.75em;
  background-size: cover;
  background-position: center center;
  background-color: palette(secondary);
  overflow: hidden;

  @include add-breakpoint('palm-and-up') {
    @include aspect-ratio(683, 340);
    padding: 2em 1em;
  }

  @include add-breakpoint('desk-wide-and-up') {
    @include aspect-ratio-responsive(2.5, 1);
  }

  .inner {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .headline-hero__content {
    position: relative;
    max-width: 48em;
    width: 100%;
    z-index: 2;

    @include add-breakpoint('palm-and-up') {
      width: auto;
    }
  }

  .headline-hero__silhouette {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 100%;
    opacity: 0.15;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &.has--video {
    .headline-hero__silhouette {
      @include add-breakpoint('lap-and-up') {
        display: none;
      }
    }
  }

  .field--name-field-headline-hero-title {
    @include setType(10, ms(3));
    color: palette(mono, x-dark);
    margin-bottom: 0.5em;

    @include add-breakpoint('lap-and-up') {
      @include setType(16, ms(5));
    }
  }

  &:not(.headline-hero--silhouette) {
    .field--name-field-headline-hero-title {
      color: palette(mono, x-light);
      @include text-shadow;
    }
  }

  &.has--video {
    .field--name-field-headline-hero-title {
      @include add-breakpoint('lap-and-up') {
        color: palette(mono, x-light);
        @include text-shadow;
      }
    }
  }

  .field--name-field-headline-hero-cta a {
    @include button();
    @include button--secondary();
    @include button--contrast();
    padding: 1.5em 2em;
  }

  .video-background__wrapper {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(101% + 4px);
    height: calc(100% + 4px);
    display: none;

    @include add-breakpoint('lap-and-up') {
      display: block;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
  }

  &.has--video {
    .video-background__wrapper {
      @include breakpoint(map-get($breakpoints, 'lap-and-up')) {
        opacity: 1
      }
    }
  }

  .video-background {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.is--vimeo {
    .video-background__wrapper {
      width: calc(100% + 150px);
    }
  }
}
