<div class="clearfix">
  <div class="teaser">
    <a class="teaser__image" href="#">
      <span class="teaser__flag flag flag--negative">Fully booked</span>
      <img src="https://unsplash.it/333/221" alt="Teaser image" />
    </a>
    <div class="teaser__details">
      <div class="teaser__proximity">5.6 miles from M1 1FT</div>
      <h2 class="teaser__title"><a href="#">Nature Tots at Panshanger Park Forest School Wildlife Workshop</a></h2>
      <div class="teaser__info">
        <span class="date">06 Nov, Sunday 2016</span> / <span class="time">1.00am – 4.00pm</span>
      </div>
      <p class="teaser__intro">Do you want to take action to create a healthy and wildlife rich environment within the Wyke Beck Valley</p>
      <div class="teaser__tags">
        <a href="#" class="button button--small button--secondary">Outdoor</a>
        <a href="#" class="button button--small button--secondary">Wildlife Watch</a>
      </div>
    </div>
  </div>
  <div class="teaser">
    <a class="teaser__image" href="#">
      <img src="https://unsplash.it/333/221" alt="Teaser image" />
    </a>
    <div class="teaser__details">
      <h2 class="teaser__title"><a href="#">Nature Tots at Panshanger Park Forest School Wildlife Workshop</a></h2>
      <p class="teaser__intro">Do you want to take action to create a healthy and wildlife rich environment within the Wyke Beck Valley</p>
      <div class="teaser__tags">
        <a href="#" class="button button--small button--secondary">Outdoor</a>
        <a href="#" class="button button--small button--secondary">Wildlife Watch</a>
      </div>
    </div>
  </div>
</div>
