<h2>Single Spotlight</h2>
<h3>Link Button</h3>
<div class="spotlight spotlight--single spotlight--overlay spotlight--white breakout" style="background-image: url('https://unsplash.it/1044/680?image=18');">
  <div class="inner">
    <div class="spotlight__details">
      <span class="spotlight__meta">Event</span>
      <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
      <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
      <a href="#" class="button">Spotlight CTA</a>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<h3>Link Full Block</h3>
<div class="spotlight spotlight--single spotlight--overlay spotlight--white spotlight--link-block breakout" style="background-image: url('https://unsplash.it/1044/680?image=152');">
  <a href="#" class="inner">
    <div class="spotlight__details">
      <span class="spotlight__meta">Event</span>
      <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
      <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
  </a>
</div>
<p>&nbsp;</p>
<h2>Double Spotlight</h2>
<div class="spotlights spotlights--double breakout">
  <div class="spotlights__item">
    <div class="spotlight spotlight--overlay spotlight--double spotlight--white" style="background-image: url('https://unsplash.it/683/680?image=18');">
      <div class="inner">
        <div class="spotlight__details">
          <span class="spotlight__meta">Event</span>
          <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
          <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="#" class="button">Spotlight CTA</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spotlights__item">
    <div class="spotlight spotlight--overlay spotlight--double spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/683/680?image=152');">
      <a href="#" class="inner">
        <div class="spotlight__details">
          <span class="spotlight__meta">Event</span>
          <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
          <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
        </div>
      </a>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<h2>Triple Spotlight</h2>
<div class="spotlights spotlights--triple breakout">
  <div class="spotlights__item">
    <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=18');">
      <a href="#" class="inner">
        <div class="spotlight__details">
          <span class="spotlight__meta">Campaign</span>
          <h2 class="spotlight__title">Defend nature</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="spotlights__item">
    <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=152');">
      <a href="#" class="inner">
        <div class="spotlight__details">
          <span class="spotlight__meta">Blog</span>
          <h2 class="spotlight__title">Badger cull petition response</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="spotlights__item">
    <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=17');">
      <a href="#" class="inner">
        <div class="spotlight__details">
          <span class="spotlight__meta">News</span>
          <h2 class="spotlight__title">Species at risk of extinction</h2>
        </div>
      </a>
    </div>
  </div>
</div>

