.breadcrumb {
  padding: $spacing-unit-vertical 1rem;
  background-color: palette(mono, x-light);
  @include keyline(bottom);
  @include setType(4, ms(-2));
  color: palette(mono, dark);

  ol {
    @extend %clean-list;
  }

  li {
    display: inline-block;

    &:first-child {
      a {
        width: 16px;
        height: 16px;
        text-indent: -9999px;
        overflow: hidden;
        background-size: 100% auto;
      }
    }

    &:not(:last-child)::after {
      display: inline-block;
      content: '/';
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    &:nth-child(n+2) a {
      display: none;
    }

    &:nth-child(2) {
      &::before {
        display: inline-block;
        content: '...';
      }
    }

    @include add-breakpoint('up-to-palm') {
      &:nth-last-child(-n+2) {
        a {
          display: inline-block;
        }

        &::before {
          display: none;
        }
      }

      // Hide items which already have their anchors hidden and aren't the
      // first item (home) or second item (which has the ellipsis).
      // 3rd item+ - Last item -2.
      &:not(:nth-last-child(-n+2)):nth-child(n+3) {
        display: none;
      }
    }

    @include add-breakpoint('palm-to-lap') {
      &:nth-last-child(-n+4) {
        a {
          display: inline-block;
        }

        &::before {
          display: none;
        }
      }

      // 3rd item+ - Last item -4.
      &:not(:nth-last-child(-n+4)):nth-child(n+3) {
        display: none;
      }
    }

    @include add-breakpoint('lap-and-up') {
      &:nth-last-child(-n+6) {
        a {
          display: inline-block;
        }

        &::before {
          display: none;
        }
      }

      // 3rd item+ - Last item -6.
      &:not(:nth-last-child(-n+6)):nth-child(n+3) {
        display: none;
      }
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    max-width: 60px;
    color: palette(mono, dark);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include add-breakpoint('palm-and-up') {

    }

    @include add-breakpoint('lap-and-up') {
      max-width: 120px;
    }

    @include add-breakpoint('desk-and-up') {
      max-width: 160px;
    }

    @include add-breakpoint('desk-wide-and-up') {
      max-width: 190px;
    }
    
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}



/* The responsive part */

.btn-breadcrumb > * > div {
  /* With less: .text-overflow(); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
  .btn-breadcrumb > *:nth-last-child(-n+2) {
    display:block;
  }
  .btn-breadcrumb > * div {
    max-width: 60px;
  }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
  .btn-breadcrumb > *:nth-last-child(-n+4) {
    display:block;
  }
  .btn-breadcrumb > * div {
    max-width: 100px;
  }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
  .btn-breadcrumb > *:nth-last-child(-n+6) {
    display:block;
  }
  .btn-breadcrumb > * div {
    max-width: 170px;
  }
}

