<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus, mi feugiat aliquam dapibus, nibh erat mattis lorem, in tincidunt tortor ex non lacus. Curabitur aliquet commodo lectus non varius. Proin hendrerit ante ac nisi scelerisque, nec tempus quam placerat. Duis pretium varius nisi mattis malesuada. Etiam ut tortor varius, dictum massa placerat, commodo erat. Curabitur non posuere sem; efficitur iaculis purus. Pellentesque malesuada est non eros consequat malesuada eget sit amet leo. Nam arcu enim, commodo at ultrices ac, ullamcorper a mi. Phasellus faucibus pulvinar lorem.</p>
<cite>John Smith</cite>
</blockquote>
