<div class="card-listing">
    <div class="card-listing__item">
        <div class="card">
            <a href="#" class="card__link">
                <div class="card__image">
                    <img src="https://unsplash.it/330/220" alt="Image alt text">
                </div>
                <div class="card__details">
                    <span class="card__meta">Event</span>
                    <h3 class="card__title">Sed ut perspiciatis unde perspiciatis un</h3>
                    <p class="card__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </a>
        </div>
    </div>
</div>
