<div class="spotlights spotlights--double" style="max-width: 1044px;">
    <div class="spotlights__item">
        <div class="spotlight spotlight--overlay spotlight--double spotlight--white" style="background-image: url('https://unsplash.it/683/680?image=18');">
            <div class="inner">
                <div class="spotlight__details">
                    <span class="spotlight__meta">Event</span>
                    <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
                    <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <a href="#" class="button">Spotlight CTA</a>
                </div>
            </div>
        </div>
    </div>
    <div class="spotlights__item">
        <div class="spotlight spotlight--overlay spotlight--double spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/683/680?image=152');">
            <a href="#" class="inner">
                <div class="spotlight__details">
                    <span class="spotlight__meta">Event</span>
                    <h2 class="spotlight__title">Sed ut perspiciatis unde perspiciatis un</h2>
                    <p class="spotlight__summary">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </a>
        </div>
    </div>
</div>
