<div class="spotlights spotlights--triple" style="max-width: 1044px;">
    <div class="spotlights__item">
        <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=18');">
            <a href="#" class="inner">
                <div class="spotlight__details">
                    <span class="spotlight__meta">Campaign</span>
                    <h2 class="spotlight__title">Defend nature</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="spotlights__item">
        <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=152');">
            <a href="#" class="inner">
                <div class="spotlight__details">
                    <span class="spotlight__meta">Blog</span>
                    <h2 class="spotlight__title">Badger cull petition response</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="spotlights__item">
        <div class="spotlight spotlight--overlay spotlight--triple spotlight--white spotlight--link-block" style="background-image: url('https://unsplash.it/456/680?image=17');">
            <a href="#" class="inner">
                <div class="spotlight__details">
                    <span class="spotlight__meta">News</span>
                    <h2 class="spotlight__title">Species at risk of extinction</h2>
                </div>
            </a>
        </div>
    </div>
</div>
