<div class="debug-vertical-alignment">
  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id iaculis velit. Vivamus luctus orci odio, vel imperdiet tellus rhoncus eu. Ut tempus tristique elit accumsan maximus. Morbi in purus vel est ultricies ornare non rutrum odio.</p>
 <h3>Heading 3</h3>
 <p>Proin vitae dapibus purus. Vestibulum ultrices mi vestibulum tempus mollis. Morbi viverra felis eu diam finibus ornare. Nullam at euismod enim, eu faucibus orci. Cras venenatis nisl vel facilisis convallis. Morbi a varius nisi, ac efficitur purus. Fusce congue dui et sem facilisis dictum.</p>
</div>
