.view--taxonomy-term {
  .view__content {
    font-size: 0;
  }

  .views-row {
    @include add-breakpoint('palm-and-up') {
      float: none !important;
      display: inline-block;
      vertical-align: top;
    }

    > .node,
    > .taxonomy-term {
      font-size: ms(0);
    }
  }
}
