$messages: status, warning, error;

.messages {
  background-color: palette(mono, light);
  @include keyline('all');
  margin-top: $spacing-unit-vertical;
  margin-bottom: $spacing-unit-vertical;
  padding: $spacing-unit-vertical $spacing-unit-horizontal $spacing-unit-vertical ($spacing-unit-horizontal + 60px);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 2px);
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    display: block;
    width: 60px;
    background-size: 30px 30px;
    background-position: 50% 50%;
  }

  @each $message in $messages {
    &--#{$message} {
      &::before {
        background-color: palette(#{$message});
      }
    }
  }
}
